---
import { Icon } from 'astro-icon'
import HeroImage from './HeroImage';
---
<section class="my-12">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-8 lg:grid-cols-2">
      <img id="hero-image" class="hidden lg:block hero w-3/10 mx-auto" src='night_mode_hacker.png' alt="hacker woman" decoding="async" />
      <!-- <div class="img-toggle hidden lg:block hero w-1/2"></div> -->
      <!-- <HeroImage lightModeImage='light_mode_hacker.png' darkModeImage='dark_mode_hacker.png' client:load /> -->
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-7xl w-full">
          <slot><span class="text-gradient">TARA.CLOUD</span></slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row w-full md:w-auto">
          <a class="button has-icon" href="https://github.com/markteekman/accessible-astro-starter">
            <Icon pack="ion" name="logo-github" />
            GitHub
          </a>
          <a
            class="button has-icon color-secondary"
            href="https://www.linkedin.com/in/taraschoenherr/"
          >
            <Icon pack="ion" name="logo-linkedin" />
            LinkedIn
          </a>
          <a
            class="button has-icon color-accent"

            href="https://www.linkedin.com/in/taraschoenherr/"
          >
            <Icon pack="ion" name="logo-instagram" />
            Instagram
          </a>
        </div>
      </div>
      
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    // background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background: linear-gradient(315deg, var(--pink-accent-200) 25%, var(--primary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero {
    border-radius: 15%;
  }

  .img-toggle{
    width: 100%;
    max-width: 100%;
    padding-top: 74.07%;
    display: block;
    margin: 0 auto;
    position: relative;
    background: url(light_mode_hacker.png) center/cover no-repeat;
    background-size: cover;
  }

  :global(.darkmode) .img-toggle {
    background: url(night_mode_hacker.png) center/cover no-repeat;
  }

  .test-div{
    width: 100%;
    max-width: 400px;
    min-width: 400px;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--pink-accent-200) 25%, var(--primary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>

